.pagina {
  display: flex;
  flex-direction: column;
  gap: var(--e5);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--e3);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
